<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">
    #editor { 
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
</head>
<body>
<select style="padding: 5px; margin-top: 30px">
  <option value="Python">Python</option>
  <option value="C">C</option>
  <option value="C++">C++</option>
  <option value="Javascript">Javascript</option>
</select>
<div id="editor" style=" float:left;padding:20px; margin-top: 90px;margin-bottom: 100px;margin-right: 600px">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>
<script src="/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>
<button type="submit">Compile</button>
<button type="submit">Run</button>
</body>
</html>